<section class="section space"></section>
<section class="section">
  <div class="col image">
    <img {{img url="/assets/careers/i1.webp" width="2000" height="2000" }} />
  </div>
  <div class="col image">
    <img {{img url="/assets/careers/i2.webp" width="2000" height="2000" }} />
  </div>
  <div class="col image">
    <img {{img url="/assets/careers/i3.webp" width="2000" height="2000" }} />
  </div>
</section>
<section class="section">
  <div class="col"></div>
  <div class="col image">
    <img {{img url="/assets/careers/i4.webp" width="2000" height="2000" }} />
  </div>
  <div class="col"></div>
  <div class="col image">
    <img {{img url="/assets/careers/i5.webp" width="2000" height="2000" }} />
  </div>
</section>
<section class="space section">
  <div class="col"></div>
  <div class="col text">
    <ul>
      <li>Hybrid remote</li>
      <li>6 weeks paid vacation</li>
      <li>Laptop</li>
      <li>Paid phone</li>
      <li>Noise cancelling headphones</li>
      <li>Great health insurance</li>
      <li>Pension package</li>
      <li>Maxed health care allowance</li>
      <li>Flexible work/life balance</li>
    </ul>
  </div>
  <div class="col text">
    <p>
      Aino is an equal opportunity employer that is committed to inclusion in
      the workplace. We prohibit discrimination and harassment of any kind based
      on race, color, sex, religion, sexual orientation, national origin,
      disability, or any other protected characteristic.
    </p>
    <p>
      If you have questions, please reach out to
      <a href="work@aino.agency">work@aino.agency</a>.
    </p>
  </div>
</section>
