{{#each this }} {{#column className=className top=top left=left width=width}}
{{#if image }}
<div class="image"><img {{ img url=image.url width=image.width height=image.height className=className }} /></div>
{{/if}}{{#if video }}
<div class="video">
  <video
    autoplay
    playsinline
    loop
    muted
    preload="auto"
    width="{{video.width}}"
    height="{{video.height}}"
    crossorigin="anonymous"
  >
    <source type="video/mp4" src="{{video.url}}" />
  </video>
</div>
{{/if }} {{#if html}}
<div class="html">{{{ html }}}</div>
{{/if }} {{/column }} {{/each}}
