<footer id="footer">
  <div class="image">
    <img src="/aino-agency.svg" alt="Aino" />
  </div>
  <section class="shortcuts">
    <div>
      GBG/OSL<br />
      <div class="time"></div>
    </div>
    <div>
      <h2>New Business</h2>
      <a href="mailto:julie@aino.agency">julie@aino.agency</a>
    </div>
    <div></div>
    <div>
      <a href="https://linkedin.com/company/aino" target="_blank">Linkedin</a>
      <br />
      <a href="https://instagram.com/aino.agency" target="_blank">Instagram</a>
    </div>
  </section>
</footer>
