<footer id="footer">
  <div class="image logo">
    <img src="/aino-agency.svg" width="719" height="107" alt="Aino" />
  </div>
  <section class="section shortcuts fadein wrap">
    <div class="col loctime">
      <div class="location">GBG/OSL</div>
      <div class="time"></div>
    </div>
    <div class="col w4 halfwidth">
      <h2>New Business</h2>
      <a href="mailto:julie@aino.agency">julie@aino.agency<span></span></a>
    </div>
    <div class="col halfwidth">
      <a href="https://linkedin.com/company/aino" target="_blank">Linkedin<span></span></a>
      <a href="https://instagram.com/aino.agency" target="_blank">Instagram<span></span></a>
    </div>
  </section>
</footer>
