<script type="module">
  import '@/styles/partials/header.css'
</script>
<header>
  <nav id="nav" class="hoverchar">
    <div>
      <a href="/" rel="prefetch" class="home">Aino</a>
    </div>
    <div>
      <a href="/work" rel="prefetch" class="work">Work</a>
      <a href="/about" rel="prefetch" class="about">About</a>
      <!--<a href="/lab" rel="prefetch">Lab</a>-->
    </div>
    <div class="secondary">
      
      <a href="/services" rel="prefetch">Services</a>
      <a href="/careers" rel="prefetch">Careers</a>
    </div>
    <div class="last">
      <a href="/contact" rel="prefetch">Contact</a>
    </div>
    <div class="mobile">
      <button class="ghost">Menu</button>
    </div>
  </nav>
</header>
