<script type="module">
  import '@/styles/partials/header.css'
</script>
<header>
  <nav id="nav" class="hoverchar">
    <div>
      <a href="/" class="home">Aino</a>
    </div>
    <div>
      <a href="/work" rel="prefetch" class="work">Work</a>
      <a href="/lab">Lab</a>
    </div>
    <div>
      <a href="/about" rel="prefetch" class="about">About</a>
      <a href="/services">Services</a>
      <a href="/careers" rel="prefetch">Careers</a>
    </div>
    <div class="last">
      <a href="/contact">Contact</a>
    </div>
    <div class="mobile">
      <button class="ghost">Menu</button>
    </div>
  </nav>
</header>
