<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="index,follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:url" content="https://aino.agency{{ path }}"/>
  {{#if description}}
  <meta name="description" content="{{description}}"/>
  <meta property="og:description" content="{{description}}"/>
  {{ else}}
  <meta name="description" content="'Scandinavian design and technology agency committed to innovation and collaboration. We transform our clients into brands that are impossible to ignore."/>
  <meta property="og:description" content="'Scandinavian design and technology agency committed to innovation and collaboration. We transform our clients into brands that are impossible to ignore."/>
  {{/if}}
  {{#if image}}
  {{/if}}
  {{#if image}}
  <meta property="og:image" content="{{image.url}}"/>
  <meta property="og:image:width" content="{{image.width}}"/>
  <meta property="og:image:height" content="{{image.height}}"/>
  {{/if}}
  <link rel="canonical" href="https://aino.agency{{ path }}"/>
  {{# if title}}
  <title>{{title}} — Aino</title>
  <meta property="og:title" content="{{title}} — Aino"/>
  {{ else}}
  <title>Aino — Design & Technology Agency</title>
  <meta property="og:title" content="Aino — Design & Technology Agency"/>
  {{/if}}
  {{> prescript}}
  <script type="module">
    import '@/js/white.js'
  </script>
</head>
