<script type="text/javascript">
  ;((html) => {
    html.classList.add('js')
    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent)
    const setVariables = () => {
      const width = innerWidth
      let ch = 8
      let cols = Math.round(width / ch)
      cols -= 18 // 2 gutter, 2 margin
      // Snap down to multiple of 8
      cols -= cols % 8
      // Add 7 back
      cols += 18
      // Recalculate charWidth
      ch = width / cols

      col = Math.ceil((width / ch - 11) / 4)

      let fontSize = ch / 0.6 - 0.9
      const letterSpacing = (ch / 0.6 - fontSize) * 0.6
      html.style = Object.entries({
        ch,
        cols,
        col,
        rows: Math.floor(innerHeight / (ch * 2)),
        'letter-spacing': `${letterSpacing}px`,
        'font-size': `${fontSize}px`,
        'line-height': `${ch * 2}px`,
        'screen-height': screen.availHeight,
      })
        .map(([key, value]) => `--${key}:${value}`)
        .join(';')
    }
    setVariables()
    const resizeEvent =
      'ontouchstart' in window ? 'orientationchange' : 'resize'
    addEventListener(resizeEvent, setVariables)
  })(document.documentElement)
</script>
