<script type="text/javascript">
  ;((html) => {
    html.classList.add('js')
    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent)
    const setVariables = () => {
      const width = innerWidth
      let rem = 8.5
      let cols = Math.round(width / rem)
      cols -= 18 // 2 gutter, 2 margin
      // Snap down to multiple of 8
      cols -= cols % 8
      // Add 7 back
      cols += 18
      // Recalculate charWidth
      rem = width / cols

      col = Math.ceil((width / rem - 11) / 4)

      let fontSize = rem / 0.6 - 0.9
      let letterSpacing = (rem / 0.6 - fontSize) * 0.6
      if (isSafari) {
        const fontSizeRounded = Math.floor(rem / 0.6 - 0.3)
        letterSpacing = (rem / 0.6 - fontSizeRounded) * 0.6
        fontSize = fontSizeRounded
      }
      html.style = Object.entries({
        rem,
        cols,
        col,
        rows: Math.floor(innerHeight / (rem * 2)),
        'letter-spacing': letterSpacing,
        'font-size': fontSize,
        'screen-height': screen.availHeight,
      })
        .map(([key, value]) => `--${key}:${value}`)
        .join(';')
    }
    setVariables()
    const resizeEvent =
      'ontouchstart' in window ? 'orientationchange' : 'resize'
    addEventListener(resizeEvent, setVariables)
  })(document.documentElement)
</script>
