<script type="text/javascript">
  ;((html) => {
    html.classList.add('js')
    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent)
    const setVariables = () => {
      const width = innerWidth
      const mobile = width < 769
      let ch = mobile ? 8 : 8
      let cols = Math.round(width / ch)
      let col = 0
      const light = [245, 245, 240]
      const dark = [24, 24, 24]
      if (!mobile) {
        cols -= 18 // 2 gutter, 2 margin
        // Snap down to multiple of 8
        cols -= cols % 8
        cols += 18
        // Recalculate charWidth
        ch = width / cols
        col = Math.ceil((width / ch - 11) / 4)
      } else {
        cols -= 6
        cols -= cols % 2
        cols += 6
        ch = width / cols
        col = Math.ceil((width / ch - 5) / 2)
      }

      let fontSize = ch / 0.6 - 0.9
      const lineHeight = ch * 2
      const letterSpacing = (ch / 0.6 - fontSize) * 0.6
      const line = isSafari ? Math.round(lineHeight) : lineHeight
      html.style = Object.entries({
        ch,
        cols,
        col,
        strip: cols / 12,
        rows: Math.floor(innerHeight / (ch * 2)),
        'letter-spacing': `${letterSpacing}px`,
        'font-size': `${fontSize}px`,
        'line-height': `${lineHeight}px`,
        line: `${line}px`,
        'screen-height': screen.availHeight,
        light: light.join(','),
        dark: dark.join(','),
      })
        .map(([key, value]) => `--${key}:${value}`)
        .join(';')
    }
    setVariables()
    const resizeEvent =
      'ontouchstart' in window ? 'orientationchange' : 'resize'
    addEventListener(resizeEvent, setVariables)
  })(document.documentElement)
</script>
