body.contact #app {
  .image img {
    opacity: 1;
  }
  section {
    .split {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    h2 {
      opacity: 0.4;
    }
    .bounce {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .info {
      opacity: 0;
      display: flex;
      flex: 0;
      gap: var(--char2);
      padding-top: var(--char2);
      margin-top: auto;
      > div {
        flex: 1;
        margin-top: auto;
      }
    }
  }
}
