body.home {
  .list {
    max-width: 30rem;
    text-align: justify;
  }

  .grid {
    height: 100dvh;
    text-transform: none;
    top: 0;
    width: 100vw;
    left: 0;
    overflow: hidden;
    white-space: pre;
    cursor: default;
    transform: translateZ(0);
    will-change: transform;
    position: fixed;
  }

  .gridcontainer {
    height: 100dvh;
  }

  #nav {
    opacity: 0;
  }
  #footer {
    display: none;
  }
  .our-work {
    position: fixed;
    left: calc((var(--col) * 2 + 6) * var(--char));
    span {
      animation: blinker 0.2s linear infinite;
    }
  }
}
