.list {
  max-width: 30rem;
  text-align: justify;
}

.grid {
  height: 100vh;
  text-transform: none;
  top: 0;
  width: 100vw;
  left: 0;
  overflow: hidden;
  white-space: pre;
  cursor: default;
  transform: translateZ(0);
  will-change: transform;
  position: absolute;
}

.gridcontainer {
  height: 100vh;
}

.fps {
  position: fixed;
  top: calc(100vh - calc(var(--line) * 3));
  right: var(--char2);
  opacity: 0.3;
}
