.list {
  max-width: 30rem;
  text-align: justify;
}

.grid {
  height: 100vh;
  text-transform: none;
  margin-top: -6rem;
  width: 100vw;
  margin-left: -2rem;
  overflow: hidden;
  white-space: pre;
  cursor: default;
}

.fps {
  position: fixed;
  top: calc(100vh - 4rem);
  right: 2rem;
  opacity: 0.3;
}
