#footer {
  padding: calc(var(--line) * 4) var(--char2) 0;
  cursor: default;
  .shortcuts {
    margin-top: calc(var(--line) * -3);
    z-index: 2;
    position: relative;
  }
  .logo {
    background: transparent;
  }
}

@media (max-width: 1200px) {
  #footer .shortcuts {
    margin-top: calc(var(--line) * -2);
  }
}

@media (max-width: 800px) {
  #footer .shortcuts {
    margin-top: calc(var(--line) * -1);
  }
}

html.dark {
  html.textmode,
  html.pixelmode {
    #footer .logo img {
      opacity: 0;
    }
  }
}
