#nav {
  position: fixed;
  top: var(--char2);
  left: var(--char2);
  z-index: 2;
  width: calc(100vw - var(--char) * 4);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--char2);
  > div {
    display: flex;
    gap: var(--char2);
    a {
      /* white-space: nowrap; */
    }
    &:last-child {
      justify-self: end;
    }
  }
}

html.js #nav {
  opacity: 0;
}
