#nav {
  position: fixed;
  top: var(--char2);
  left: var(--char2);
  z-index: 2;
  width: calc(100vw - var(--char) * 4);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--char2);
  > div {
    display: flex;
    gap: var(--char2);
    &.last {
      a:last-child {
        margin-left: auto;
      }
    }
    a.active {
      animation: blinker 0.16s linear infinite;
    }
  }
  .mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  #nav {
    z-index: 11;
    display: flex;
    a {
      display: none;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: calc(var(--line) * -1);
        bottom: calc(var(--line) * -1);
        left: calc(var(--char2) * -1);
        right: calc(var(--char2) * -1);
        /* no background or border, so it won't show visually */
      }
      &.home {
        display: block;
      }
    }
    .toggler {
      display: none;
    }
    .mobile {
      display: block;
      margin-left: auto;
    }
  }
}

.mobile-container {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background: var(--white);
  top: 0;
  left: 0;
  z-index: 10;
  padding: calc(var(--line) * 7) var(--char2) var(--line);
  a {
    display: block;
  }
  display: flex;
  flex-direction: column;
  .newbusiness {
    margin-top: auto;
    opacity: 0;
  }
}

html.js #nav {
  opacity: 0;
}
