.worktable {
  position: relative;
  z-index: 2;
  opacity: 0;
  li {
    height: calc(var(--line));
    overflow: hidden;
    .line {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: fit-content;
      strong {
        display: block;
        width: var(--fullcol);
      }
      &.inactive {
        opacity: 0.2;
      }
    }
    a:hover {
    }
  }
}
