#admin {
  .container {
    position: fixed;
    top: calc(var(--line) * 6);
    left: calc(var(--char2) * 2);
    z-index: 1000;
    color: rgb(245, 245, 240);
    background: #000;
    padding: 3px;
    width: calc(var(--char) * 28);
    &.show .controls {
      display: block;
    }
    .maintitle {
      padding: 0.8rem 1rem;
      cursor: move;
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        gap: 0.5rem;
        margin-top: -0.25rem;
      }
      button {
        background: #141414;
        line-height: 1;
        padding: 0.4rem 0.5rem;
        color: #666;
        border-radius: var(--border-radius);
        &:hover {
          color: #fff;
          background: #222;
        }
      }
    }
  }
  .addsection {
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 1rem;
    height: auto;
    background: #181818;
    display: flex;
    gap: 0.5rem;
  }
  .texteditor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #222;
    textarea {
      width: 100%;
      height: calc(100% - (var(--line) * 2.5));
      padding: 1rem;
      background: #222;
      color: #fff;
      border-radius: var(--border-radius);
      resize: none;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
      cursor: text;
    }
    button {
      width: 100%;
      background: #111;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0;
      padding: 1rem 1rem;
      background: #181818;
      height: auto;
    }
  }
  .controls {
    display: none;
    background: #222;
    border-radius: var(--border-radius);
    position: relative;
    .inputs {
      padding: 1rem 1rem 0.5rem;
      input[type='text'],
      input[type='number'] {
        margin-bottom: 0.5rem;
      }
    }
    input[type='text'],
    input[type='number'],
    label.file,
    button.edit {
      appearance: none;
      border: none;
      background: #333;
      padding: 0.4rem 0.7rem;
      border-radius: var(--border-radius);
      width: 100%;
      height: auto;
      cursor: text;
      &.placeholder {
        color: #777;
      }

      &:focus {
        outline: none;
        box-shadow: rgb(85, 153, 255) 0 0 0 1px;
      }
      font-family: abc, helvetica, sans-serif;
      font-size: 1.1rem;
      text-transform: none;
      letter-spacing: 0;
    }
    button.edit {
      margin-bottom: 0.5rem;
    }
    label.checkbox {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
    label.file {
      position: relative;
      display: block;
      margin-bottom: 0.5rem;
      &.placeholder {
        color: #777;
      }
      div {
        white-space: nowrap;
        cursor: pointer;
      }
      input {
        position: absolute;
        top: -10000rem;
      }
      button {
        position: absolute;
        right: 0.5rem;
        margin-top: -1.3rem;
        height: 1.3rem;
        display: flex;
        line-height: 1;
        background: rgba(0, 0, 0, 0.1);
        color: #888;
      }
    }
    input::selection {
      background: rgba(85, 153, 255, 0.7);
      color: #fff;
    }
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .mini {
      position: relative;
      flex: 1;
      span {
        position: absolute;
        top: 0.45rem;
        left: 0.7rem;
        opacity: 0.5;
      }
      input {
        padding-left: calc(var(--char) + 1.2rem);

        font-family: mono, monospace;
        font-size: var(--font-size);
      }
    }
    button.delete {
      padding: 0 0.35rem;
      background: #4f2727;
      color: #d66262;
      border-radius: var(--border-radius);
      &:hover {
        color: #fff;
        background: #d66262;
      }
    }
    .title {
      display: flex;
      gap: 1rem;
      button:first-child {
        flex: 1;
        text-align: left;
        display: flex;
        gap: 0.5rem;
        span:first-child {
          position: relative;
          top: -0.1rem;
        }
      }
      span i {
        font-style: normal;
        opacity: 0.3;
      }
    }
    .sectioncontainer {
      border-top: 1px solid #444;
      &:first-child {
        border-top: none;
      }
    }
    .section {
      margin-left: -0.5rem;
      padding: 1rem;
      margin: 0;
      flex-direction: column;
      gap: 0;
      > .content {
        display: none;
        padding: 1rem 0 0 1rem;
      }
      &.open > .content {
        display: block;
      }
      .addcolumn {
        display: flex;
        gap: 0.5rem;
      }
    }
    .section,
    .column {
      &.open > .title button span:first-child {
        position: relative;
        top: -0.1rem;
        transform: rotate(90deg);
      }
    }
    .sectionclass {
      margin-bottom: 0.5rem;
    }
    .minis {
      margin-bottom: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }
    .column {
      padding-bottom: 0.5rem;
      > .content {
        display: none;
        padding: 1rem 0 0;
        padding-left: var(--char2);
      }
      &.open > .content {
        display: block;
        padding-bottom: 0.5rem;
      }
    }
  }
}

html.grid #admin .container .maintitle button.grid-btn {
  color: #000;
  background: #555;
}
