@import 'fonts.css';
@import 'reset.css';
@import 'partials/worktable.css';
@import 'partials/footer.css';
@import 'partials/modal.css';
@import 'pages/contact.css';
@import 'pages/apply.css';
@import 'pages/work.css';
@import 'pages/case.css';
@import 'pages/position.css';

:root {
  color-scheme: light dark;
  --white-rgb: 245, 245, 240;
  --black-rgb: 24, 24, 24;
  --black: rgb(var(--black-rgb));
  --white: rgb(var(--white-rgb));
  --char: calc(var(--ch) * 1px);
  --char2: calc(var(--char) * 2);
  --fullcol: calc((var(--col) + 2) * var(--char));
  --border-radius: calc(var(--char) * 0.4);
  --line-padding: calc(var(--line) * 0.43923331);
  --mobile: 768px;
  --tablet: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black-rgb: 245, 245, 240;
    --white-rgb: 24, 24, 24;
  }
}

html {
  text-transform: uppercase;
  font-family: mono, monospace;
  color: var(--black);
  background: var(--white);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

body {
  margin: 0;
  padding: 0;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: calc(var(--char) * 3);
  margin: 0;
  position: relative;
  border: none;
  &:after {
    content: ' ';
    height: 1px;
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    display: block;
    background: var(--black);
  }
}

#app {
  min-height: 100vh;
  padding: calc(var(--line) * 3) calc(var(--char) * 2);
}

.image,
.video {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  canvas,
  .ascii {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: pre;
  }
  canvas {
    z-index: 1;
    image-rendering: pixelated;
  }
  img,
  video {
    opacity: 1;
    width: 100%;
  }
}

html.textmode .image img,
html.textmode .video video {
  opacity: 0 !important;
}

html:not(.textmode) .image .ascii {
  display: none;
}

.video {
  border-radius: var(--border-radius);
  overflow: hidden;
  video {
    width: 100%;
    height: auto;
  }
}

@media (prefers-color-scheme: light) {
  html:not(.dark) {
    .video video,
    .image img {
      mix-blend-mode: multiply;
    }
  }
}

section {
  margin-bottom: calc(var(--line));
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--char2);
  > div {
    &.span-2 {
      grid-column: span 2;
    }
    &.span-3 {
      grid-column: span 3;
    }
    &.span-4 {
      grid-column: span 4;
    }
    &.sticky > div {
      position: sticky;
      top: calc(var(--line) * 3);
    }
  }
  &.space {
    padding: calc(var(--line) * 2) 0;
  }
  &.spacebig {
    padding: calc(var(--line) * 3) 0;
  }
  &.first {
    margin-top: calc(var(--line) * 6);
  }
}

@media (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
    gap: var(--line);
    > div {
      &.span-2,
      &.span-3,
      &.span-4 {
        grid-column: span 1;
      }
    }
  }
}

.cols {
  display: flex;
  gap: 2rem;
  .col2 {
    grid-column: span 2;
  }
}

.cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--char2);
}

html.js .fadein {
  opacity: 0;
}

p,
.text h2,
.text li,
.text a {
  font-family: abc, helvetica, sans-serif;
  text-transform: none;
  font-feature-settings: 'ss05';
  font-size: 120%;
  letter-spacing: 0;
  line-height: calc(var(--line) * 1.2);
  letter-spacing: -0.01em;
  .mono {
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    font-family: mono, monospace;
    line-height: var(--line-height);
    text-transform: uppercase;
    padding-right: var(--char);
    font-weight: 400;
  }
}

.big p,
.big h1,
.big h2,
.big li,
.big a,
h2.big,
p.big,
li.big,
h1.big,
a.big {
  font-weight: 720;
  font-size: 170%;
  line-height: calc(var(--line) * 1.5);
  letter-spacing: -0.02em;
}

.mega p,
.mega h1,
.mega h2,
.mega li,
.mega a,
p.mega,
h1.mega,
h2.mega,
li.mega,
a.mega {
  font-size: 225%;
  font-weight: 720;
  line-height: calc(var(--line) * 2);
  letter-spacing: -0.03em;
}

hr {
  height: 1px;
  background: var(--black);
  margin: calc(var(--line)) 0;
  opacity: 0.1;
  display: block;
}

hr + .big {
  margin-top: calc(var(--line) * -0.2);
}

.big h2 + p,
h2.big + p {
  margin-top: calc(var(--line) * 1.2);
}

.light {
  opacity: 0.4;
  font-weight: inherit;
}

html.js .fadein {
  opacity: 0;
}

.text {
  p + h2,
  p + p,
  ul + h2,
  p + h3,
  ul + h3 {
    margin-top: calc(var(--line) * 1.2);
  }
  h3 {
    line-height: calc(var(--line) * 1.2);
    transform: translateY(2px);
    padding-bottom: calc(var(--line) * 1.2);
    &:first-child {
      margin-top: -2px;
    }
  }
}

button,
a.button {
  &:not(.ghost) {
    display: inline-block;
    vertical-align: middle;
    height: calc(var(--line) * 2);
    display: flex;
    align-items: center;
    padding: var(--line-padding) var(--char);
    background: rgba(var(--black-rgb), 0.1);
    cursor: pointer;
    border-radius: var(--border-radius);
  }
  &.fullwidth {
    width: 100%;
    text-align: left;
    padding-left: var(--char);
  }
  &.outline {
    background: none;
    border: 1px solid var(--black);
    color: var(--black);
  }
  &.arrow {
    position: relative;
    padding-right: calc(var(--char) * 2);
    &::after {
      content: '→';
      position: absolute;
      right: var(--char);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.blink {
  animation: blinker 0.4s linear infinite;
}

.blink-fast {
  animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}
