@import 'fonts.css';
@import 'reset.css';
@import 'partials/worktable.css';
@import 'partials/footer.css';
@import 'partials/modal.css';
@import 'pages/contact.css';
@import 'pages/work.css';
@import 'pages/case.css';
@import 'pages/position.css';

:root {
  color-scheme: light dark;
  --white-rgb: 245, 245, 240;
  --black-rgb: 24, 24, 24;
  --black: rgb(var(--black-rgb));
  --white: rgb(var(--white-rgb));
  --char: calc(var(--ch) * 1px);
  --char2: calc(var(--char) * 2);
  --fullcol: calc((var(--col) + 2) * var(--char));
  --border-radius: calc(var(--char) * 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: rgb(var(--black-rgb));
    --black: rgb(var(--white-rgb));
  }
}

html {
  text-transform: uppercase;
  font-family: mono, monospace;
  color: var(--black);
  background: var(--white);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

body {
  margin: 0;
  padding: 0;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: calc(var(--char) * 3);
  margin: 0;
  position: relative;
  border: none;
  &:after {
    content: ' ';
    height: 1px;
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    display: block;
    background: var(--black);
  }
}

#app {
  min-height: 100vh;
  padding: calc(var(--line) * 3) calc(var(--char) * 2);
}

.image {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  canvas,
  .ascii {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: pre;
  }
  canvas {
    z-index: 1;
    image-rendering: pixelated;
  }
  img {
    opacity: 1;
    width: 100%;
  }
}

html.textmode .image img {
  opacity: 0 !important;
}

html:not(.textmode) .image .ascii {
  display: none;
}

.video {
  border-radius: var(--border-radius);
  overflow: hidden;
  video {
    width: 100%;
    height: auto;
  }
}

@media (prefers-color-scheme: light) {
  html:not(.dark) {
    .video video,
    .image img {
      mix-blend-mode: multiply;
    }
  }
}

section {
  margin-bottom: calc(var(--line));
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--char2);
  > div {
    &.span-2 {
      grid-column: span 2;
    }
    &.span-3 {
      grid-column: span 3;
    }
    &.span-4 {
      grid-column: span 4;
    }
    &.sticky > div {
      position: sticky;
      top: calc(var(--line) * 3);
    }
  }
  &.space {
    padding: calc(var(--line) * 2) 0;
  }
  &.first {
    margin-top: calc(var(--line) * 6);
  }
}

.cols {
  display: flex;
  gap: 2rem;
  .col2 {
    grid-column: span 2;
  }
}

html.js .fadein {
  opacity: 0;
}

p,
.text h2,
.pagetitle,
.text li {
  font-family: abc, helvetica, sans-serif;
  text-transform: none;
  font-feature-settings: 'ss05';
  font-size: 120%;
  letter-spacing: 0;
  line-height: 126%;
  letter-spacing: -0.01em;
  &.big {
    font-weight: 720;
    font-size: 180%;
    line-height: calc(var(--line) * 1.5);
    letter-spacing: -0.02em;
  }
  h1 {
    font-size: 225%;
    font-weight: 720;
    line-height: calc(var(--line) * 2);
    letter-spacing: -0.03em;
  }
}

.light {
  opacity: 0.4;
  font-weight: inherit;
}

html.js .fadein {
  opacity: 0;
}

.text {
  h2 {
    opacity: 0.4;
  }
  p + h2,
  p + p,
  ul + h2 {
    margin-top: calc(var(--char) * 2);
  }
}

button:not(.ghost) {
  background: rgba(var(--black-rgb), 0.1);
  padding: var(--char) var(--char2);
  cursor: pointer;
  border-radius: var(--border-radius);
}

html.dark {
  --white: rgb(var(--black-rgb));
  --black: rgb(var(--white-rgb));
}
